.block-stat {
    background: #fff;
    padding: 50px;
    position: relative;
}

.block-stat .block-stat__credit {
    position: absolute;
    right: 25px;
    top: 25px;
    display: flex;
    gap: 20px;
}

.block-stat .block-stat__credit a:hover {
    text-decoration: underline;
}

.block-stat .block-stat__credit span:last-of-type {
    margin-top: auto;
}

.block-stat .block-stat__credit span:first-of-type {
    margin-bottom: auto;
}

.block-stat form {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.block-stat form select {
    margin-bottom: 0;
}

.block-stat button {
    height: 100%;
    border-radius: 3px;
    background-color: #39D18C;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 150ms ease-in-out;
    width: fit-content;
}

.block-stat button:hover {
    background-color: #2ab777;
}

.block-stat .block-stat-results {
    width: 100%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.block-stat .block-stat-results .block-stat-results__headings {
    width: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-bottom: 2px solid;
}

.block-stat .block-stat-results .block-stat-results__results {
    width: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
}

.block-stat .block-stat-results .btn {
    margin-left: auto;
}

@media only screen and (max-width: 750px) {
    .block-stat form {
        flex-direction: column;
        align-items: flex-start;
    }

    .block-stat .block-stat-results .block-stat-results__headings {
        display: none;
    }

    .block-stat .block-stat-results .block-stat-results__results {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .block-stat .block-stat-results .block-stat-results__results .block-stat-results--name,
    .block-stat .block-stat-results .block-stat-results__results .block-stat-results--link,
    .block-stat .block-stat-results .block-stat-results__results .block-stat-results--path {
        display: flex;
        flex-direction: column;
    }

    .block-stat .block-stat-results .block-stat-results__results .block-stat-results--name:before {
        content: 'Page name:';
        font-weight: 700;
    }
    .block-stat .block-stat-results .block-stat-results__results .block-stat-results--link:before {
        content: 'Page url:';
        font-weight: 700;
    }

    .block-stat .block-stat-results .block-stat-results__results .block-stat-results--path:before {
        content: 'Page path:';
        font-weight: 700;
    }
}
